spring:
  profiles:
    active: local
    group:
      local: local, common
      blue: blue, common, prod
      green: green, common, prod

server:
  env: blue
  servlet:
    encoding:
      charset: utf-8
      force: true

---

spring:
  config:
    activate:
      on-profile: local

server:
  port: 8080
  serverAddress: localhost

serverName: local_server

---

spring:
  config:
    activate:
      on-profile: blue

server:
  port: 8080
  serverAddress: ${ELASTIC_IP}

serverName: blue_server

---

spring:
  config:
    activate:
      on-profile: green

server:
  port: 8081
  serverAddress: ${ELASTIC_IP}

serverName: green_server